# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SwaggerDemo.iml
# Datasource local storage ignored files
/../../../../../../:\dev\SwaggerDemo\.idea\.idea.SwaggerDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
